{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Insert Entity</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show all students</p>
                    <a class="btn btn-primary" id="show-btn" href="/students">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Researchers</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researcher">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
       <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
                <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
       <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
                <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Create Student</h4>
                    <p class="card-text" id="paragraph">Enter a new student into the database<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/students/create">Create</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
