{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Data</h4>
                    <p class="card-text" id="paragraph">View, Update, Delete and Insert data to the database<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/show_tables">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Queries</h4>
                    <p class="card-text" id="paragraph">See the popular questions asked<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/queries">Show</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
